.containerCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic");

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.container {
    gap: 30px;
    display: flex;
    flex-direction:row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    box-shadow: 5px 20px 20px rgba(71, 66, 66, 0.3);
    border: 1px solid rgba(211, 211, 211, 0.384);
    border-radius: 8px;
    height: 380px;
    width: 220px;
}

.card:hover {
    transition: .5s ease-in;
    box-shadow: 5px 20px 60px rgba(211, 211, 211, 0.519);
}

.card .card-image {
    text-align: center;
    font-size: 60px;
    display: block;
    width: 1fr;
}

.card .card-name {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    display: block;
    width: 1fr;
}

.card .card-description {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    display: block;
    width: 1fr;
    padding: 0.5em;
}


.card .card-button-top {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.card-button-icons {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row !important;

}

.button-add-hide {
    display:none !important;
}


.card .card-button-top button {
    margin-top: 10px;
    font-size: 20px !important;
}

.card .card-button-top .disabled {
    background-color: lightgray !important;
    color: whitesmoke !important;
}

.card .card-button-top button:active {
    background: darkmagenta !important;
    color: white !important;
}



h1, h2, h3, h4 {
    font-weight: 500;
}

p, span, strong, em, code {
    font-size: larger;
}

.sin-stock {
    filter: grayscale(100%) opacity(40%); 
}

.card-error {
    box-shadow: 0px 6px 20px rgba(255, 0, 0, 0.147);
    border: 1px solid darkred;
    border-radius: 6px;
    padding: 40px;
    color: red;
}