@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

p, span, strong, em, code {
  font-size: larger;
}

/** topnav */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

/** Main Title */
.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.main-title h1 {
  font-size: 4em;
  text-align: center;
}

/** Container boton test */

.container-test {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
  margin-top: 3em;
}

.container-test:hover {
  transform: scale(1.5)
}

/** Container-button */
.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  font-size: 2.5em;
}

/** Input search bar */
.search-name-display {
  font-size: 5em;
  text-align: center;
}

@media screen and (width < 900px) {
  
  .container-button {
    flex-direction: column;
  }

  .container-right {
    flex-direction: row;
  }
  .container-left {
    flex-direction: row;
  }
}

@media screen and (width < 600px) {
  
  .container-button {
    flex-direction: column;
  }

  .container-right {
    display: flex;
    flex-direction: column;
  }
  .container-left {
    display: flex;
    flex-direction: column;
  }
}

/** Container Cards */
.containerCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.containerCards {
    gap: 30px;
    display: flex;
    flex-direction:row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
}

.card {
    box-shadow: 5px 20px 20px rgba(71, 66, 66, 0.3);
    border: 2px solid rgba(211, 211, 211, 0.384);
    border-radius: 12px;
    height: 420px;
    width: 270px;
    position: relative;
}

.card:hover {
    transition: .5s ease-in;
    box-shadow: 5px 20px 60px rgba(211, 211, 211, 0.519);
}

.card .card-tag {
  background-color: yellowgreen;
  height: 30px;
  width: 50px;
  border-radius: 15px;
  position: absolute;
  top: 1px;
  right: 1px;
  font-size: 16px;
  margin: 0.3em;
}

.card .card-tag .text {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-right: 1px;
  padding: 0px !important;
}

.card .card-image {
    text-align: center;
    font-size: 70px;
    display: block;
    width: 1fr;
}

.card .card-name {
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    display: block;
    width: 1fr;
}

.card .card-description {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    display: block;
    width: 1fr;
    padding: 0.5em;
}


.card .card-button-top {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.card-button-icons {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row !important;

}

.card-button-icons .button-add {
  font-size: 3em;
}

.card-button-icons .button-delete {
  font-size: 3em;
}

.button-add-hide {
    display:none !important;
}

.card .card-button-top button {
    margin-top: 10px;
    font-size: 20px !important;
}

.card .card-button-top .disabled {
    background-color: lightgray !important;
    color: whitesmoke !important;
}

.card .card-button-top button:active {
    background: darkmagenta !important;
    color: white !important;
}

/*** REVIEW */
.sin-stock {
    filter: grayscale(100%) opacity(40%); 
}

.button.button-clear.button-delete {
  transform: scale(1);
  transition: 200ms ease-in-out;
}

.deactive {
  transform: scale(0);
}

.translate {
  transform: translate(42px, 18px);
  transition: 200ms ease-in-out;
  position: absolute;
}

/** error */
.card-error {
    box-shadow: 0px 6px 20px rgba(255, 0, 0, 0.147);
    border: 1px solid darkred;
    border-radius: 6px;
    padding: 40px;
    color: red;
}

/** Dashboard */

.container-dashboard {
  display: flex;
  justify-content:center;
  align-content:center;
  align-items:center;
  width: 100%;
  padding: 40px;
}

.containerTitle {
  display: flex;
  justify-content:center;
  align-content:center;
}

.containerTitle h1 {
  font-size: 5em;
  margin-bottom: 1em;
}

table {
  overflow-x:auto;
  border-spacing: 0;
  padding: 5em;
}

thead tr th {
  font-size: 2em;
}

tbody span tr td {
  font-size: 2em;
  color: black;
}

.border-botton {
  font-size: 1.5em;
  border-bottom: 1px solid #9b4dca;
}

button .button-outline {
  text-decoration: none;
  color: white;
}

thead tr {
  background-color: darkmagenta;
  color: white;
}

#tablehead {
  padding: 10px;
}

tbody tr:nth-child(even) {
  background: rgba(173, 216, 230, 0.252) !important;
}

.centrar {
  text-align: center;

}

.edit-style {
  background-color: transparent !important;
  border-color: transparent !important;
  border-bottom: 1px solid #9b4dca;
}



@media screen and (width <= 420px) {

  table {
      margin: 0 auto;
      width: 100% !important;
      margin-bottom: 60px;
  }
}

@media screen and (width <= 767px) {

  table {
      margin: 0 auto;
      width: 100%;
      margin-bottom: 60px;
  }
}

@media screen and (width >= 768px) {


  table {
      margin: 0 auto;
      max-width: 600px;
      margin-bottom: 80px;
  }
}

/** Modal test  */

.modalLogin {
  position:fixed;
  top:50%; /*Center*/
  left:50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 20px;
  z-index: 10;
  background-color: white;
  width: auto !important;
  max-width: 90%;
  height: fit-content !important;
}

.modalLogin.active {
  transform: translate(-50%, -50%) scale(1);
}

.modalTest {
  position:fixed;
  top:50%; /*Center*/
  left:50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 20px;
  z-index: 10;
  background-color: white;
  width: auto !important;
  max-width: 90%;
  height: fit-content !important;
}

.modalTest.active {
  transform: translate(-50%, -50%) scale(1);
}

/* Modal PopUp */
.modal {
  position:fixed;
  top:50%; /*Center*/
  left:50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 20px;
  z-index: 10;
  background-color: white;
  width: fit-content;
  max-width: 80%;
  height: 500px;
}

.modalLanguage {
  position:fixed;
  top:50%; /*Center*/
  left:50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 20px;
  z-index: 10;
  background-color: white;
  width: fit-content;
  max-width: 80%;
  min-width: 489px;
  height: 550px;
}

.modalEditUser {
  position:fixed;
  top:50%; /*Center*/
  left:50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 20px;
  z-index: 10;
  background-color: white;
  width: fit-content;
  max-width: 80%;
  height: 600px;
}

.modalEditUser.active {
  transform: translate(-50%, -50%) scale(1);
}


.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modalLanguage.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 3.25rem;
  font-weight: bold;
}

.modal-header .clase-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.scroll-container {
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: auto;
  height: 600px;
}

.modal-body {
  padding: 10px 15px;
}

.titleUser h1{
  font-size: 4.5em;
  text-align: center;
}

.descriptionUser {
  font-size: 2em !important;
}

.titleUserLanguage {
  font-size: 1em;
}

.container-image {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 5em;
}

.container-image button {
  float: right;
  background: transparent !important;
  font-size: 27px;
  border: none;
  cursor: pointer;
}

.container-image button img {
  font-size: 3em;
}

.tbody-user tr td {
  font-size: 2em;
  align-items: center;
  align-self: center;
  align-content: center;
}

.id-user {
  display: none;
  transform: scale(0);
}

#id-user {
  display: none;
  transform: scale(0);
}

#overlayLanguage {
  position: fixed;
  transition: 200ms ease-in-out;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay {
  position: fixed;
  transition: 200ms ease-in-out;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlayLanguage.active {
  opacity: 1;
  pointer-events: all;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/** Buton ordenar PopUp Languages */

.container-footer {
  display: flex;
  justify-content:center;
  align-items:center;
  gap: 2em;
  margin-bottom: 4em;
}


.verLenguaje-Ordenar {
  display: flex;
  justify-content:center;
  align-items:center;
}

.centrar .lenguages {
  text-decoration: none !important;
  color: #ffff !important;
  font-size: 3em;
}

a#ordenarPopUpLenguajes {
  text-decoration: none !important;
  color: #ffff !important;
  font-size: 1.5em;
}

a.crearActividad {
  text-decoration: none !important;
  color: #ffff !important;
  font-size: 1.5em;
}

a#randomPopUpLenguajes {
  text-decoration: none !important;
  color: #ffff !important;
  font-size: 1.5em;
}

.button-ideas {
  background-color: transparent !important;
  border-color: transparent !important;
  border-bottom: 1px solid #9b4dca;
}


/** Button Ordenar*/

.ordenar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  position: static;
}

.button .ordenar {
  margin-left: 2em;
}

#ordenarCards {
  margin-left: 15em;
  margin-bottom: 2em;  
  margin-top: 2em;
}

/** OTHER */

.button-add .active {
  transform: scale(1);
  transition: 200ms ease-in-out;
} 

.button-add .deactive {
  transform: scale(0);
  transition: 200ms ease-in-out;
} 

/** Alert */

#custom-target {
  position: relative;
  width: 800px;
  height: 400px;
  border-style: solid;
}

.position-absolute {
  position: absolute;
}

/** Edit User */

.edit-form {
  display: flex;
  gap:2em;
}

div .separador {
  margin-top: 3em;
}

/** containerActivity */

.containerActivity {
  display: flex;
  gap: 3em;
  margin-bottom: 3em;
}

/** Test Lenguajes */

.fieldset .infoForm {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.infoFormTest {
  padding: 1em;
  border: 1px solid #9b4dca;
}

.pregunta {
  font-size: 2.5em;
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
  
}

.containerPregunta {
  margin-bottom: 2em;
}

.contador {
  margin-top: 1em;
  font-size: 2em;
}

.radio-info {
  font-size: 3em;
}

.botonSiguiente  {
  display: flex;
  justify-content:center;
  align-items:center;
}

.containerComenzarTest, .botonEnviarFormTest {
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
}

.comenzarTest, .botonEnviarTest {
  font-size: 3em !important;
  margin-top: 2em;
}

.notBorder {
  border: none;
}

.containerValues {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.titleValue {
  font-size: 1.5em;
}

.valuesCards {
  width: 100px;
  height: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.titleValueP {
  color: #fd7e14;
  font-size: 2em;
}

.physicalTouch {
  border: 3px solid #fd7e14;
}

.titleValueA {
  color: #0d6efd;
  font-size: 2em;
}
.actosOfService{
  border: 3px solid #0d6efd;
}

.titleValueQ {
  color: #ffc107;
  font-size: 2em;
}
.qualityTime{
  border: 3px solid #ffc107;
}
.titleValueW {
  color: greenyellow;
  font-size: 2em;
}
.wordsOfAffirmation{
  border: 3px solid greenyellow;
}
.titleValueR {
  color: #dc3545;
  font-size: 2em;
}
.receivingGifts{
  border: 3px solid #dc3545;
}

.values {
  position: absolute;
  top: 32px;
  right: 28px;
  font-size: 2.5em;
}

.card-button-icons-results {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row !important;
  margin-top: 10em;
}

.card-button-icons-results .button-add {
  font-size: 3em;
}

.card-button-icons-results .button-delete {
  font-size: 3em;
}

.margin {
  margin-top: 5em;
}