@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

p, span, strong, em, code {
  font-size: larger;
}

/** topnav */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

/** Main Title */
.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.main-title h1 {
  font-size: 4em;
  text-align: center;
}

/** Container-button */
.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  font-size: 2.5em;
}

/** Input search bar */
.search-name-display {
  font-size: 5em;
  text-align: center;
}

/** Container Cards */
.containerCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.containerCards {
    gap: 30px;
    display: flex;
    flex-direction:row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    box-shadow: 5px 20px 20px rgba(71, 66, 66, 0.3);
    border: 2px solid rgba(211, 211, 211, 0.384);
    border-radius: 12px;
    height: 420px;
    width: 270px;
}

.card:hover {
    transition: .5s ease-in;
    box-shadow: 5px 20px 60px rgba(211, 211, 211, 0.519);
}

.card .card-image {
    text-align: center;
    font-size: 70px;
    display: block;
    width: 1fr;
}

.card .card-name {
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    display: block;
    width: 1fr;
}

.card .card-description {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    display: block;
    width: 1fr;
    padding: 0.5em;
}


.card .card-button-top {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.card-button-icons {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row !important;

}

.card-button-icons .button-add {
  font-size: 3em;
}

.card-button-icons .button-delete {
  font-size: 3em;
}

.button-add-hide {
    display:none !important;
}

.card .card-button-top button {
    margin-top: 10px;
    font-size: 20px !important;
}

.card .card-button-top .disabled {
    background-color: lightgray !important;
    color: whitesmoke !important;
}

.card .card-button-top button:active {
    background: darkmagenta !important;
    color: white !important;
}

/*** REVIEW */
.sin-stock {
    filter: grayscale(100%) opacity(40%); 
}

.button.button-clear.button-delete {
  transform: scale(1);
  transition: 200ms ease-in-out;
}

.deactive {
  transform: scale(0);
}

.translate {
  transform: translate(42px, 18px);
  transition: 200ms ease-in-out;
  position: absolute;
}

/** error */
.card-error {
    box-shadow: 0px 6px 20px rgba(255, 0, 0, 0.147);
    border: 1px solid darkred;
    border-radius: 6px;
    padding: 40px;
    color: red;
}

/** Dashboard */

.container-dashboard {
  display: flex;
  justify-content:center;
  align-content:center;
  align-items:center;
  width: 100%;
  padding: 40px;
}

.containerTitle {
  display: flex;
  justify-content:center;
  align-content:center;
}

.containerTitle h1 {
  font-size: 5em;
  margin-bottom: 1em;
}

table {
  overflow-x:auto;
  border-spacing: 0;
  padding: 5em;
}

thead tr th {
  font-size: 2em;
}

tbody span tr td {
  font-size: 1.5em;
}

.border-botton {
  font-size: 1.5em;
  border-bottom: 1px solid #9b4dca;
}

button .button-outline {
  text-decoration: none;
  color: white;
}

/* Modal PopUp */
.modal {
  position:fixed;
  top:50%; /*Center*/
  left:50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 20px;
  z-index: 10;
  background-color: white;
  width: fit-content;
  max-width: 80%;
  height: 500px;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 3.25rem;
  font-weight: bold;
}

.modal-header .clase-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

.titleUser h1{
  font-size: 4.5em;
  text-align: center;
}

.titleUser .descriptionUser p {
  font-size: 5.5em;
  text-align: center;
}

.titleUserLanguage {
  font-size: 1em;
}

.tbody-user tr td {
  font-size: 2em;
  align-items: center;
  align-self: center;
  align-content: center;
}


#overlay {
  position: fixed;
  transition: 200ms ease-in-out;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/** Button Ordenar*/

.ordenar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  position: static;
}

/** OTHER */

.button-add .active {
  transform: scale(1);
  transition: 200ms ease-in-out;
} 

.button-add .deactive {
  transform: scale(0);
  transition: 200ms ease-in-out;
} 
